h1,h2{
    color: rgb(24, 151, 255);
}

h2{
    background-color: rgb(231, 231, 231);
}

.blue{
    color: rgb(24, 151, 255);
    font-weight: 100;
}

.price{
    font-size: large;
}

.define{
    margin-left: 30px;
}

i , sup{
    color: red;
}